body{
    font-family: sans-serif, 'Montserrat';
}
.second-header{
    font-family: 'Montserrat';
}
.main{
    /* background-image: url("{{ url_for('static', filename='/vector.svg')}}"); */
    background-image: url('./vector.svg');
    background-repeat: no-repeat;
    background-position:center  ;
    
}
.main-header{
    font-family: 'El Messiri', sans-serif;

    /* font-family: 'Libre Baskerville', serif; */
}
.btncolor{
    background-color: #6F757C;
}
#available{
    background: #000;
}

audio::-webkit-media-controls-panel{
    background-color: #111315;
    border: black;
}
audio::-webkit-media-controls-play-button{
    background-color: #ac1706b4;
    border-radius: 50%;
}
audio::-webkit-media-controls-current-time-display{
    color: transparent;
}
audio::-webkit-media-controls-time-remaining-display{
    color: transparent;
}
audio::-webkit-media-controls-timeline{
    
    border-radius: 40px;
    background-color:transparent;
}
audio::-webkit-media-controls-volume-slider{
    
    background-color: gray;
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
audio::-webkit-media-controls-mute-button{
    background-color: #ac1706b4;
    border-radius: 50%;
}
